# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.break-n-bounce.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\break-n-bounce\.idea\.idea.break-n-bounce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
